 <!-- ===============pie general====================0 -->
 <footer>
    <div class="container">
      <p>&copy; 2024 FashionStyle. Todos los derechos reservados.</p>
      <ul class="social-media">
        <li>
          <a href="#"><img src="icono_facebook.webp" alt="Facebook" /></a>
        </li>
        <li>
          <a href="#"><img src="icono_instagram.webp" alt="Instagram" /></a>
        </li>
        <li>
          <a href="#"><img src="icono_twitter.webp" alt="Twitter" /></a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- ===============pie general====================0 -->


