
footer{
    display: flex;
    flex-direction: column;
background-color: #D9D9D9;
padding: 40px;
margin-top: 50px;
}


.footer1 {
    display: flex;
justify-content: space-between;
margin-top: 0;

}


.titulofooter {
background-color: aliceblue;
border-radius: 15px;
text-align: center;

}
.enlaces{
display: flex;
flex-direction: column;
}

.googleplay {


}


.footer2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    
}

.followu{

gap: 20px;


}